* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

#about-us {
  color: #fff;
  font-size: 26px;
}

#contact-link:link,
#contact-link:visited {
  background-color: sandybrown;
  color: black;
  border: 2px solid saddlebrown;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#contact-link:hover,
#contact-link:active {
  background-color: salmon;
  color: white;
}

.home,
.ourgames,
.about-us,
.contact,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.ourgames {
  background-image: url("./images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-us {
  background-image: url("./images/about-us.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-image: url("./images/banner.png");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
